<section id="hiking">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Hiking</h2>
                    <h3 class="section-subheading text-muted">Get out doors.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="row" align="center">
                        <div class="col-md-8 col-md-offset-2">
                            <!-- Nav tabs -->
                            <ul class="nav nav-tabs" role="tablist" id="hikingTabs">
                                <li role="presentation" class="active"><a href="#gsm" aria-controls="gsm" role="tab" data-toggle="tab">Smokies</a></li>
                                <li role="presentation"><a href="#cp" aria-controls="cp" role="tab" data-toggle="tab">Cumberland</a></li>
                                <li role="presentation"><a href="#nashville" aria-controls="nashville" role="tab" data-toggle="tab">Nashville</a></li>
                            </ul>
                
                            <!-- Tab panes -->
                            <div class="tab-content tab-content-background">
                                <div role="tabpanel" class="tab-pane fade in active" id="gsm">
                                    <h3>Great Smoky Mountains National Park</h3>
                                    <div class="table-responsive">
                                        <table class="table table-hover table-striped">
                                            <thead>
                                                <tr>
                                                    <td><i class="fa fa-calendar" aria-hidden="true"></i> Date</td>
                                                    <td><i class="fa fa-map-o" aria-hidden="true"></i> Trail</td>
                                                    <td><i class="fa fa-map-marker" aria-hidden="true"></i> Falls</td>
                                                    <td><i class="fa fa-users" aria-hidden="true"></i> Hikers</td>
                                                    <td align="center"><i class="fa fa-download" aria-hidden="true"></i></td>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>20</td>
                                                    <td><a href="http://www.hikinginthesmokys.com/abrams.htm" target="hike">Abrams Falls</a></td>
                                                    <td>Abrams Falls</td>
                                                    <td>Tom, Jason, Rob</td>
                                                    <td align="center"></td>
                                                </tr>
                                                <tr>
                                                    <td>2012-03-17</td>
                                                    <td><a href="http://www.hikinginthesmokys.com/laurel.htm" target="hike">Laurel Falls</a></td>
                                                    <td>Laurel Falls</td>
                                                    <td>Tom, Jen, Ethan</td>
                                                    <td align="center"><a href="gps/Laurel_Falls.tcx">TCX</a> <a href="gps/Laurel_Falls.gpx">GPX</a></td>
                                                </tr>
                                                <tr>
                                                    <td>2012-07-21</td>
                                                    <td><a href="http://www.hikinginthesmokys.com/ramsay.htm" target="hike">Ramsey Cascades</a></td>
                                                    <td>Ramsey Cascades</td>
                                                    <td>Tom, Jason, Adam, Rob</td>
                                                    <td align="center"><a href="gps/Rainbow_Falls_Trail.tcx">TCX</a> <a href="gps/Rainbow_Falls_Trail.gpx">GPX</a></td>
                                                </tr>
                                                <tr>
                                                    <td>20</td>
                                                    <td><a href="http://www.hikinginthesmokys.com/hen_wallow_falls.htm" target="hike">Hen Wallow Falls</a></td>
                                                    <td>Hen Wallow Falls</td>
                                                    <td>Tom, Jason, Adam, Rob</td>
                                                    <td align="center"></td>
                                                </tr>
                                                <tr>
                                                    <td>20</td>
                                                    <td><a href="http://www.hikinginthesmokys.com/grotto.htm" target="hike">Grotto Falls</a></td>
                                                    <td>Grotto Falls</td>
                                                    <td>Tom, Jason, Adam, Rob</td>
                                                    <td align="center"></td>
                                                </tr>
                                                <tr>
                                                    <td>2016-06-07</td>
                                                    <td><a href="http://www.hikinginthesmokys.com/rainbow.htm" target="hike">Rainbow Falls</a></td>
                                                    <td>Rainbow Falls</td>
                                                    <td>Tom, Jason, Adam, Rob</td>
                                                    <td align="center"><a href="gps/Rainbow_Falls_Trail.tcx">TCX</a> <a href="gps/Rainbow_Falls_Trail.gpx">GPX</a></td>
                                                </tr>
                                                <tr>
                                                    <td>2016-07-24</td>
                                                    <td><a href="http://www.hikinginthesmokys.com/alumcave.htm" target="hike">Alum Cave</a></td>
                                                    <td></td>
                                                    <td>Tom, Ethan, Jason, Ashley, Adam, Lily</td>
                                                    <td align="center"><a href="gps/Alum_Cave.tcx">TCX</a> <a href="gps/Alum_Cave.gpx">GPX</a></td>
                                                </tr>
                                                <tr>
                                                    <td>2017-06-18</td>
                                                    <td><a href="http://www.hikinginthesmokys.com/mouse.htm" target="hike">Big Creek Trail</a></td>
                                                    <td>Mouse Creek Falls</td>
                                                    <td>Tom, Ethan, Jason, Ashley</td>
                                                    <td align="center"><a href="gps/Big_Creek_Trail_Mouse_Creek_Falls.tcx">TCX</a> <a href="gps/Big_Creek_Trail_Mouse_Creek_Falls.gpx">GPX</a></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div role="tabpanel" class="tab-pane fade" id="cp">
                                    <h3>Cumberland Plateau</h3>
                                    <div class="table-responsive">
                                        <table class="table table-hover table-striped">
                                            <thead>
                                                <tr>
                                                    <td><i class="fa fa-calendar" aria-hidden="true"></i> Date</td>
                                                    <td><i class="fa fa-map-o" aria-hidden="true"></i> Trail</td>
                                                    <td><i class="fa fa-map-marker" aria-hidden="true"></i> Falls</td>
                                                    <td><i class="fa fa-users" aria-hidden="true"></i> Hikers</td>
                                                    <td align="center"><i class="fa fa-download" aria-hidden="true"></i></td>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>2010-10-10</td>
                                                    <td><a href="http://tnstateparks.com/parks/about/rock-island" target="hike">Rock Island</a></td>
                                                    <td>Twin Falls</td>
                                                    <td>Tom</td>
                                                    <td align="center"></td>
                                                </tr>
                                                <tr>
                                                    <td>2012-01-01</td>
                                                    <td><a href="https://www.nature.org/ourinitiatives/regions/northamerica/unitedstates/tennessee/placesweprotect/walls-of-jericho.xml"
                                                            target="hike">Walls of Jericho</a></td>
                                                    <td>Jericho Falls</td>
                                                    <td>Tom</td>
                                                    <td align="center"><a href="gps/Walls_of_Jericho.tcx">TCX</a> <a href="gps/Walls_of_Jericho.gpx">GPX</a></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                
                                <div role="tabpanel" class="tab-pane fade" id="nashville">
                                    <h3>Nashville</h3>
                                    <div class="table-responsive">
                                        <table class="table table-hover table-striped">
                                            <thead>
                                                <tr>
                                                    <td><i class="fa fa-calendar" aria-hidden="true"></i> Date</td>
                                                    <td><i class="fa fa-map-o" aria-hidden="true"></i> Trail</td>
                                                    <td><i class="fa fa-map-marker" aria-hidden="true"></i> Falls</td>
                                                    <td><i class="fa fa-users" aria-hidden="true"></i> Hikers</td>
                                                    <td align="center"><i class="fa fa-download" aria-hidden="true"></i></td>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>2011-07-10</td>
                                                    <td><a href="http://tnstateparks.com/parks/about/long-hunter" target="hike">Long Hunter State Park</a></td>
                                                    <td></td>
                                                    <td>Tom</td>
                                                    <td align="center"></td>
                                                </tr>
                                                <tr>
                                                    <td>2011-02-05</td>
                                                    <td><a href="http://tnstateparks.com/parks/about/cedars-of-lebanon" target="hike">Cedars of Lebanon</a></td>
                                                    <td></td>
                                                    <td>Tom</td>
                                                    <td align="center"></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
