<!-- Run Icons Aside -->
    <aside class="run_icons">
        <div class="container">
            <div class="row valign_flex">
                <div class="col-md-3 col-sm-6">
                    <a href="https://brooksathlete.com" target="_blank">
                        <img src="img/ba_logo.png" class="img-responsive img-centered" alt="Brooks Athlete">
                    </a>
                </div>
                <div class="col-md-3 col-sm-6">
                    <a href="http://www.hendersonvillerunningclub.com" target="_blank">
                        <img src="img/hrc.png" class="img-responsive img-centered" alt="Hendersonville Running Club">
                    </a>
                </div>
                <div class="col-md-3 col-sm-6">
                </div>
                <div class="col-md-3 col-sm-6">
                </div>
            </div>
        </div>
    </aside>