<!-- Run Icons Aside -->
    <aside class="run_icons">
        <div class="container">
            <div class="row valign_flex">
                <div class="col-md-3 col-sm-6">
                    <a href="https://www.hendersonvillerunningclub.com" target="_blank">
                        <img src="img/HRC.svg" class="img-responsive img-centered" alt="Hendersonville Running Club">
                    </a>
                </div>
                <div class="col-md-3 col-sm-6">
                    <a href="http://www.hendersonvilleraceseries.com" target="_blank">
                        <img src="img/HRS.svg" class="img-responsive img-centered" alt="Hendersonville Race Series">
                    </a>
                </div>
                <div class="col-md-3 col-sm-6">
                    <a href="http://www.thewhitelinepodcast.com" target="_blank">
                        <img src="img/theWhiteLine.svg" class="img-responsive img-centered" alt="the White Line Podcast">
                    </a>
                </div>
                <div class="col-md-3 col-sm-6">
                </div>
            </div>
        </div>
    </aside>