<!-- Websites Section -->
<a id="websites" class="anchor" href="#websites" aria-hidden="true"></a>
<section id="resume">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading" style="color: #ffffff">My Websites</h2>
                <h3 class="section-subheading text-muted">Sites I designed.</h3>
            </div>
        </div>
        <div class="row valign_flex">
            <div class="col-md-3 col-sm-6">
                <a href="https://www.hendersonvillerunningclub.com" target="_blank">
                    <img src="img/HRC.svg" class="img-responsive img-centered" alt="Hendersonville Running Club" style="width:100px">
                </a>
            </div>
            <div class="col-md-3 col-sm-6">
                <a href="http://www.hendersonvilleraceseries.com" target="_blank">
                    <img src="img/HRS.svg" class="img-responsive img-centered" alt="Hendersonville Race Series" style="width:100px">
                </a>
            </div>
            <div class="col-md-3 col-sm-6">
                <a href="http://www.thewhitelinepodcast.com" target="_blank">
                    <img src="img/theWhiteLine.svg" class="img-responsive img-centered" alt="the White Line Podcast" style="filter: invert(1);width:100px">
                </a>
            </div>
            <div class="col-md-3 col-sm-6">
            </div>
        </div>
    </div>
</section>
